body {
  margin: 8px;
}

h1 {
  font-family: fantasy;
  width: 800px;
  text-align: center;
  font-weight: bold;

}

#stage {
  /* canvas */
  cursor: crosshair;
}

#root {
  border: 1px solid gray;
  position: relative;
  width: 800px;
  height: 400px;
  /* border: 1px dashed red; */
  background-image: url("assets/bg.png");
  background-repeat: no-repeat;
  margin-bottom: 2pc;
}

#score {
  top: 10px;
  left: 10px;
  pointer-events: none;
}

#timer {
  top: 10px;
  right: 10px;
  pointer-events: none;
}

#calpis {
  left: 10px;
  bottom: 10px;
  pointer-events: none;
}

#calpis img {
  margin-right: 3px;
  margin-top: 6px;
  vertical-align: top;
}

#lives {
  right: 10px;
  bottom: 10px;
  pointer-events: none;
}

#lives img {
  margin-right: 3px;
  margin-top: 6px;
  vertical-align: top;
}

#start {
  left: 300px;
  top: 140px;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
}

#start:hover {
  background-color: red;
}

#start:active {
  background-color: navy;
}

#score, #timer, #calpis, #start, #lives {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  color: #FFDD09;
  font-family: monospace;
  text-shadow: 2px 2px 5px black;
}
